/* IDs */
#home {
    z-index: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4em;
}

#hero {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 30em;
}

#hero img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#hero h1 {
    font-size: 2.5rem;
    color: var(--bg-color);
    position: relative;
}

#hero button {
    position: relative;
    font-size: 1rem;
}

#heroInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 2em;
}

#heroButtons {
    display: flex;
    justify-content: center;
    gap: 1em;
}

#about {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#about img {
    border-radius: 0.5em;
}

#officePics {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

#collage {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr;
    width: 100%;
    gap: 1em;
}

#collage img {
    width: 90%;
    height: 100%;
    border-radius: 0.5em;
    object-fit: cover;
    display: block;
}

#testimonials {
    /* margin: 1em 0 1em 0; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

#reviews {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

#map {
    border: 0;
    width: 100%;
    height: 12em;
}

#lore1, #lore2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#lore1 p, #lore2 p {
    width: 90%;
}

#lore1 p {
    margin-top: 0;
}

#lore1 img, #lore2 img {
    width: 90%;
    height: 15em;
    object-fit: cover;
}

#contact {
    width: 90%;
}

/* CLASSES */
.sectionTitle {
    margin-bottom: 1em;
    text-align: center;
}

/* MEDIA Qs */
@media (min-width: 75em) {
    #hero h1 {
        font-size: 4rem;
    }

    #hero button {
        font-size: 1.5rem;
    }

    #about {
        width: 55em;
    }

    #lore1 {
        flex-direction: row;
        gap: 2em;
    }


    #lore2 {
        flex-direction: row-reverse;
        gap: 2em;
    }

    #reviews {
        flex-direction: row;
        justify-content: center;
        width: 55em;
    }

    #officePics {
        width: 55em;
    }

    #collage {
        grid-template-columns: repeat(3, 1fr);
        /* grid-template-rows: repeat(2, 1fr); */
    }

    #collage img {
        height: 100%;
        width: 100%;
    }

    #contact {
        width: 55em;
    }
}
