#contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4em;
}

#howToContact {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
}

#howToContact p {
    margin: 0 0 0.5em 0;
}

#whereToFind {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
}

#locationImgs {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
    margin-bottom: 4em;
}

#locationImgs img {
    width: 100%;
    height: 30em;
    border-radius: 1em;
    object-fit: cover;
}

#map {
    border: 0;
    border-radius: 1em;
    width: 100%;
    height: 16em;
    margin-bottom: 4em;
}

@media (min-width: 63em) {
    #contact {
        height: 100%;
        justify-content: center;
    }

    #locationImgs {
        flex-direction: row;    
    }

    #locationImgs img {
        width: auto;
        height: 23.625em;
    }

    #howToContact {
        width: 55em;
    }

    #whereToFind {
        width: 55em;
    }
}
