.service {
    background-color: var(--bar-bg-color);
    border-radius: 1em;
    padding: 0 1em 0.5em 1em;
}

.contents {
    border-radius: 1em;
    background-color: var(--bar-bg-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 15em;
}

.description {
    margin: 0.5em 0;
}

@media (min-width: 50em) {
    .contents {
        height: 10em;
    }
}

@media (min-width: 63em) {
    .contents {
        height: 15em;
    }
    
}