:root {
  --bg-color: #fefef1;
  --text-color: black;
  --bar-bg-color: #fdf9df; 

  --review-bg-color: #fdf9df;
  --review-border-color: black;
  
  --button-bg-color: #7eac8d;
  --button-hover-bg-color: #8fbd9e;
  
  --link-highlight-color: #0000EE;
  --link-highlight-active-color: #551A8B;
}

.dark {
  --bg-color: #3b3a35;
  --text-color: #fefef1;
  --bar-bg-color: #52514d; 
  
  --review-bg-color: black;
  --review-border-color: whitesmoke;

  --link-highlight-color: #4283cc;
  --link-highlight-active-color: #7867b8;
}

a {
  color: var(--link-highlight-color);
}

a:visited {
  color: var(--link-highlight-active-color);
}

body {
  margin: 0;
  height: 100%;
  font-family: "Inter", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg-color);
  color: var(--text-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2 {
  margin: 0;
}

button {
  border-radius: 0.3em;
  padding: 0.75rem;
  border: none;
  background-color: var(--button-bg-color);
  color: #fefef1;
  transition: background-color 0.05s ease-in-out,
              box-shadow 0.1s ease-in-out;
}

button:hover {
  cursor: pointer;
}

button:active {
  box-shadow: inset 0.1em 0.1em gray;
  background-color: var(--button-hover-bg-color);
}

@media (min-width: 75em) {
  button {
    transition: background-color 0.25s ease-in-out;
  }
  
  button:hover {
    background-color: var(--button-hover-bg-color);
  }
}
