#toggle {
    background: none;
    border: none;
    padding: 0;
}

#toggle img {
    width: 2em;
    border-radius: 1em;
}

#toggle:hover {
    cursor: pointer;
    background-color: none;
}

#toggle:active {
    box-shadow: none;
    background-color: transparent;
}

#toggle img:active {
    background-color: black;
    filter: brightness(0);
}